.toggle-button {
  border: 2px solid rgb(219, 234, 250);
  width: 49%;
  height: 2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 2px 8px rgb(219, 234, 250);
  margin-left: 10px;
}
.button-width {
  /* padding: 10px; */
  position: relative;
  top: 10%;
  /* right: 12px; */
  /* width: 69%; */
  height: 2em;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: none;
}
.nav-text {
  font-size: 1.20vw;
  font-weight: 800;
  position: relative;
  /* bottom: 9px; */
}
.nav-text-infinite {
  position: relative;
  font-size: 1.20vw;
  font-weight: 800;
}
