.container {
  border: 1px solid white;
  position: relative;
  left: 10%;
  width: 80%;
  padding: 20px;
  /* justify-content: center; */
}
.heading{
  text-align: center;
  margin: 1rem  0;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-search {
  display: flex;
  width: 38%;
  align-items: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1300px){
  .nav-search {
    width: 45%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .nav-search {
    width: 45%;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-search {
    width: 50%;
  }
}
table{
  font-family: Inter;
}
th {
  /* text-align: left; */
  background-color: rgb(227, 239, 252);
  color: black;
  cursor: pointer;
}
td,
th {
  /* border: 1px solid #999; */
  padding: 0.5rem;
}
table.invoice-data {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  word-wrap: break-word;
}
th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.table-head-width {
  width: 104%;
}
.table-wrapper{
  height: 25vh;
  overflow: scroll;
}
.table-container{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
}
#progressbar {
  display: inline-block;
  background-color: #D3DDE9;
  border-radius: 13px;
  width: 5rem;
  margin-right: 15px;
}

#progressbar>span {
  display:block;
  background-color: #0383FF;
  height: 5px;
  border-radius: 10px;
}
.pay-status{
  background: #ECF2F9;
  border-radius: 15px;
  padding: 3px 10px;
}
.loading-messsage{
  text-align: center;
  margin-top: 10px;
}
.text:hover {
  text-decoration: underline rgb(30, 144, 255);
  color: rgb(30, 144, 255);
}
.pop-up-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.25rem 0 ;
}
.style-text {
  font-weight: 540;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  justify-content: space-around;
  margin-bottom: 8px;
}
.style-text-input {
  padding: 7px;
  border: 2px solid rgb(219, 234, 250);
  font-weight: 500;
  font-size: 1.1rem;
  font-family: Tahoma;
  position: relative;
  background-color: #ECF2F9;
}
.footer-buttons {
  float: right;
}
.updateButton {
  background: #0381FA;
  border: none;
  color: #fff;
  padding: 7px 8px 7px 8px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.cancle-button {
  background: #fff;
  border: none;
  color: #111;
  padding: 7px 8px 7px 8px;
  background: #FDFEFF;
  border: 1px solid #D3DDE9;
  box-shadow: 0px 1px 3px rgba(0, 52, 102, 0.06), 0px 1px 2px rgba(0, 52, 102, 0.12);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.table-footer{
  margin-top: 1rem;
}

.recipt-btn{
  background: #fff;
  border: none;
  box-shadow: 0 0 2px 0 grey;
  padding: 0.25rem 0.5rem;
}

.recipt-btn .recipt-icon{
  font-size: 12px;
  margin-right: 5px;
}

.sort-asc{
  border-bottom: 2px solid pink;
}

.sort-desc{
  border-top: 2px solid pink;
}

.scroll-msg{
  color: red;
  font-size: 0.65rem;
}
